/* universal style stuff */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title-bar {
  text-align: center;
  margin-top: 50px;
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(0.3);
  z-index: 0;
  min-height: max-content;
  padding: 20px 0px;
}
h1 {
  font-family: "Rubik Iso", "Segoe UI", cursive;
  color: white;
  font-size: 4vw;
}
ul {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  width: 50vw;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 5px;
  padding-bottom: 8px;
  border-radius: 5px;
  /* filter: drop-shadow(10px 10px 0px #000000); */
  list-style-type: none;
  line-height: 150%;
}
p {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  width: 50vw;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 10px;
  /* padding-bottom: 8px; */
  border-radius: 5px;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
a:visited {
  color: black;
}
a:hover,
a:active {
  color: blue;
}
.pronounce {
  text-decoration: underline;
  cursor: help;
}
#email {
  text-decoration: underline;
  cursor: pointer;
}
#email:hover {
  color: blue;
}
#menu-button-container {
  display: inline;
  cursor: pointer;
  margin-left: 20px;
  float: left;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
#menu-wrapper {
  position: fixed;
  left: 5%;
  top: 15%;
  overflow-x: visible;
  border-radius: 5px;
  filter: drop-shadow(7px 7px 0px #000000);
  z-index: 99;
}
#menu {
  position: fixed;
  overflow-y: hidden;
  z-index: 100;
  height: 0px;
  transition: 0.4s;
}
#menu.open {
  color: black;
  display: block;
  height: 150px;
}
@keyframes glow {
  from {
    text-shadow: 0px 0px 3px #aef4af;
  }
  to {
    text-shadow: 0px 0px 0px #aef4af;
  }
}
#title-card {
  cursor: help;
  animation: glow 2s infinite alternate;
}
@keyframes blue-alert-fade-in {
  0% {
    opacity: 0;
    font-size: 2rem;
    text-shadow: none;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    font-size: 6rem;
  }
}
#blue-alert {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 0 0 3px #fff;
  color: transparent;
  display: none;
  position: absolute;
  animation: blue-alert-fade-in 6s 1;
  font-size: 9rem;
  width: 100%;
  text-align: center;
  z-index: 98;
}
#blue-alert.visible {
  color: #fff;
  display: block;
  font-size: larger;
}
#playdoh-container {
  height: 150px;
  margin-top: 100px;
  text-align: center;
  overflow-x: visible;
  /* overflow-y: hidden; */
}
#playdoh-container img {
  cursor: grab;
  filter: drop-shadow(7px 7px 4px #000000);
}
html {
  background-image: url("./assets/wacky_screenshot.webp");
  background-size: cover;
}
body {
  height: 100 vw;
}
.cal-wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
}
.cal-wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  font-family: "Poppins", sans-serif;
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
sup {
  font-size: 1rem;
}
#first {
  transform: translateY(-5px);
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
  padding-top: 0px;
  width: 90%;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
  margin-top: 0px;
  width: 100%;
}
.calendar .weeks {
  width: 100%;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.has-face::before {
  background: #96efff;
}
.days li.active::before {
  background: #00b0cf;
}
.days li:not(.has-face):hover::before {
  background: #f2f2f2;
}
#cal-buffer.zero {
  height: 0;
}
#cal-buffer.one {
  height: 50px;
}
#cal-buffer.two {
  height: 100px;
}
.face-box {
  height: 300px;
  width: 100%;
  text-align: center;
}
#face-pic {
  padding-top: 15px;
  max-height: 300px;
}
@media only screen and (max-width: 600px) {
  #whole-title {
    font-size: 8vw;
  }
  #face-pic {
    max-width: 90%;
  }
  p {
    width: 90%;
  }
  ul {
    width: 90%;
  }
  .cal-wrapper {
    width: 90%;
  }
  #menu-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: visible;
    border-radius: 5px;
    filter: drop-shadow(7px 7px 0px #000000);
    z-index: 99;
  }
  #menu {
    transform: translate(-50%, -50%);
    width: 80vw;
    overflow-y: hidden;
    z-index: 100;
    height: 0px;
    transition: 0.4s;
  }
  #menu.open {
    color: black;
    display: block;
    height: 80vh;
  }
}
