/* universal style stuff */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background-image: url("./assets/wacky_screenshot.webp");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: contain;
}

/* #accessible-components-body {
  backdrop-filter: brightness(90%) blur(5px);
} */

html.accessible {
  background-color: #1c2761;
  background-image: url("./assets/blue_bg.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-position: 0 0;
  background-size: contain;
}

html.iterative {
  background-color: #90a3ff;
  background-image: none;
}

body {
  height: 100 vw;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  z-index: 3;
}

#top-spacer {
  height: 50px;
  display: block;
}

.spacer {
  height: 50px;
  display: block;
}

.title-bar {
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(0.3);
  z-index: 0;
  height: min-content;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
}

.inside-title-bar {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
}

@media only screen and (min-width: 1200px) {
  .inside-title-bar {
    width: 1200px;
  }
}

#whole-title {
  display: block;
  text-align: center;
  padding-left: 15px;
}

#menu-button-container {
  /* position: sticky; */
  display: block;
  cursor: pointer;
  margin-left: 20px;
}

h1 {
  font-family: "Rubik Iso", "Segoe UI", cursive;
  color: white;
  font-size: 4vw;
}

.accessible-h1 {
  font-family: "Rubik Doodle Shadow";
}

.top-link {
  font-size: x-small;
  vertical-align: text-top;
  white-space: nowrap;
}

h2 {
  /* background-color: white; */
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75em;
  /* width: 60vw; */
  margin: auto;
  margin-top: 55px;
  text-align: center;
  z-index: 1;
  /* padding: 10px; */
  /* border-radius: 5px; */
}

h2 span {
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

ul {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  width: 65vw;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 15px;
  padding-bottom: 8px;
  border-radius: 5px;
  /* filter: drop-shadow(10px 10px 0px #000000); */
  list-style-type: none;
  line-height: 150%;
}

ol {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  width: 65vw;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 15px;
  padding-bottom: 8px;
  border-radius: 5px;
  /* filter: drop-shadow(10px 10px 0px #000000); */
  list-style-type: none;
  line-height: 150%;
}

.left-list {
  text-align: left;
  list-style-type: disc;
  padding: 25px;
  padding-left: 1.5em;
  line-height: 125%;
  border-radius: 15px;
}

.left-numlist {
  text-align: left;
  list-style-type: decimal;
  padding: 25px;
  padding-left: 3em;
  line-height: 125%;
  border-radius: 15px;
}

.menu-ul {
  max-width: fit-content;
  list-style-type: none;
  line-height: 150%;
  padding-right: 40px;
  text-indent: 5% hanging each-line;
}

.left-list li {
  padding-left: 0.5em;
}

div.hor-scroll {
  background-color: white;
  width: 65vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

img.img-scrolling {
  max-height: 70vh;
  padding-left: 45px;
}

p {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  width: 65vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 25px;
  /* padding-bottom: 8px; */
  border-radius: 15px;
}

p.compact {
  width: 50vw;
}

p.caption {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  max-width: fit-content;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
}

.ac-img-compact-inline-box .caption {
  display: inline-block;
}

.two-col {
  column-count: 2;
  column-gap: 20px;
}

table {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  padding: 25px;
  /* padding-bottom: 8px; */
  border-radius: 15px;
}

td {
  font-size: 0.7em;
  padding: 5px;
  line-height: 120%;
  width: 27%;
}

td.ff {
  width: 46%;
}

th {
  font-size: 0.9em;
}

.mobile-label {
  display: none;
  font-size: 1.1em;
  margin-top: 15px;
}

th.vertical {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  /* should cover safari compatibility */
  transform: rotate(180deg);
}

td:nth-child(even),
th:nth-child(even) {
  background-color: #D6EEEE;
}

.ac-img {
  display: block;
  width: 54vw;
  margin: auto;
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.ac-img-compact-box {
  width: 35vw;
  margin: auto;
  text-align: center;
}

.ac-img-compact {
  display: block;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.ac-img-compact-inline-box {
  width: 50vw;
  margin: auto;
  text-align: center;
}

.ac-img-compact-inline {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.ac-img-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 65vw;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 25px;
  /* padding-bottom: 8px; */
  border-radius: 15px;
  gap: 15px;
}

.ac-img-flex {
  max-width: 33%;
}

.flex-smaller {
  max-width: 25%;
}

.quadrant-map {
  display: grid;
  /* grid-template-columns: auto auto; */
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  width: 75vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  grid-gap: 5px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.quad-box {
  background-color: rgb(175, 231, 255);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding: 27px;
  border-radius: 5px;
}

.pink {
  background-color: #f1d1ff;
}

.quad-centre {
  display: block;
  position: absolute;
  top: 0px;
  background-color: #fff;
  border-radius: 50px;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  place-content: center;
}

.quad-img {
  width: 100%;
  border-radius: 50px;
}

h3 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
}

.quad-title {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0%);
  background-color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

a:visited {
  color: black;
}

a:hover,
a:active {
  color: blue;
}

.pronounce {
  text-decoration: underline;
  cursor: help;
}

#email {
  text-decoration: underline;
  cursor: pointer;
}

#email:hover {
  color: blue;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menu-wrapper {
  position: fixed;
  left: 5%;
  top: 15%;
  overflow-x: visible;
  border-radius: 5px;
  filter: drop-shadow(7px 7px 0px #000000);
  z-index: 99;
}

#menu {
  position: fixed;
  overflow-y: hidden;
  z-index: 100;
  max-height: 0px;
  transition: 0.75s;
  width: fit-content;
}

#menu.open {
  color: black;
  display: block;
  height: auto;
  min-height: fit-content;
  max-height: 500px;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 6px #aef4af;
  }

  to {
    text-shadow: 0px 0px 2px #aef4af;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

#title-card {
  cursor: help;
  animation: glow 1.5s infinite alternate;
}

.wiggle span {
  animation: wiggle 1s infinite ease;
  display: inline-block;
}

.wiggle span:nth-child(1) {
  animation-delay: 0.1s;
}

.wiggle span:nth-child(2) {
  animation-delay: 0.2s;
}

.wiggle span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes blue-alert-fade-in {
  0% {
    opacity: 0;
    font-size: 2rem;
    text-shadow: none;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    font-size: 6rem;
  }
}

#blue-alert {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 0 0 3px #fff;
  color: transparent;
  display: none;
  position: absolute;
  animation: blue-alert-fade-in 6s 1;
  font-size: 9rem;
  width: 100%;
  text-align: center;
  z-index: 98;
}

#blue-alert.visible {
  color: #00ffff;
  display: block;
  font-size: larger;
}

#playdoh-container {
  height: 150px;
  margin-top: 100px;
  text-align: center;
  overflow-x: visible;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  /* overflow-y: hidden; */
}

#playdoh-container img {
  cursor: grab;
  filter: drop-shadow(7px 7px 4px #000000);
  max-height: 100%;
}

.cal-wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
}

.cal-wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons span {
  font-family: "Poppins", sans-serif;
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

sup {
  font-size: 1rem;
}

#first {
  transform: translateY(-5px);
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
  padding-top: 0px;
  width: 90%;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
  margin-top: 0px;
  width: 100%;
}

.calendar .weeks {
  width: 100%;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.has-face::before {
  background: #96efff;
}

.days li.active::before {
  background: #00b0cf;
}

.days li:not(.has-face):hover::before {
  background: #f2f2f2;
}

#cal-buffer.zero {
  height: 0;
}

#cal-buffer.one {
  height: 50px;
}

#cal-buffer.two {
  height: 100px;
}

.face-box {
  height: 300px;
  width: 100%;
  text-align: center;
}

@keyframes hueshift {
  from {
    filter: hue-rotate(0);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes orangetogreen {
  from {
    filter: hue-rotate(0) saturate(100%);
  }

  to {
    filter: hue-rotate(135deg) saturate(125%);
  }
}

.hueshift {
  animation: hueshift 3s infinite alternate;
}

.orangetogreen {
  animation: orangetogreen 0.75s forwards;
}

#face-pic {
  padding-top: 15px;
  max-height: 300px;
}

.invisible {
  opacity: 0;
}

#idle-anim {
  position: absolute;
  animation: toRight linear 6.8s infinite alternate,
    bounce linear 17s infinite alternate;
}

::-moz-selection {
  color: #000000;
  background: #18fc7f;
}

::selection {
  color: #000000;
  background: #18fc7f;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

::-webkit-scrollbar-button:single-button {
  background-color: #8f8f8f;
  display: block;
  background-size: 15px;
  background-repeat: no-repeat;
  height: 20px;
}

::-webkit-scrollbar-button:single-button:hover {
  background-color: #646464;
  display: block;
  background-size: 15px;
  background-repeat: no-repeat;
  height: 20px;
}

/*https://sahilchandravanshi.hashnode.dev/custom-css-scrollbar#heading-customize-arrow-buttons-in-scrollbars*/

@keyframes bounce {
  0% {
    top: 0;
  }

  48% {}

  50% {
    top: calc(100% - var(--height));
  }

  52% {}

  100% {
    top: 0;
  }
}

@keyframes toRight {
  0% {
    left: 0;
  }

  100% {
    left: calc(100% - var(--width));
  }
}

@media only screen and (max-width: 800px) {
  #whole-title {
    font-size: 32px;
  }

  #face-pic {
    max-width: 90%;
  }

  p {
    width: 90%;
  }

  div.hor-scroll {
    width: 90%;
  }

  p.compact {
    width: 80%;
  }

  .two-col {
    column-count: 1;
    column-gap: 0px;
  }

  table {
    width: 90%;
  }

  table,
  th,
  td {
    display: block;
  }

  th {
    font-size: 1.1em;
  }

  td {
    font-size: 0.9em;
    padding: 5px;
    line-height: 120%;
    width: 100%;
  }

  td.ff {
    width: 100%;
  }

  th.vertical {
    writing-mode: horizontal-tb;
    transform: none;
  }

  th.label {
    display: none;
  }

  .mobile-label {
    display: inline;
  }

  td:nth-child(even),
  th:nth-child(even) {
    background-color: #fff;
  }

  .ac-img {
    width: 90%;
  }

  .ac-img-compact-box {
    width: 65%;
  }

  .ac-img-compact-inline-box {
    width: 65%;
  }

  .ac-img-flex-box {
    width: 85%;
  }

  .ac-img-compact-inline {
    display: block;
    width: 100%;
    padding: 5px;
  }

  ul {
    width: 90%;
  }

  ol {
    width: 90%;
  }

  .quadrant-map {
    width: 85vw;
  }

  .cal-wrapper {
    width: 90%;
  }

  #menu-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: visible;
    border-radius: 5px;
    filter: drop-shadow(7px 7px 0px #000000);
    z-index: 99;
  }

  #menu {
    transform: translate(-50%, -50%);
    width: 80vw;
    /* overflow-y: hidden; */
    /* overflow-y: scroll; */
    z-index: 100;
    height: 0px;
    transition: 0.4s;
  }

  #menu.open {
    color: black;
    display: block;
    height: 80vh;
  }
}

@media only screen and (min-width: 1000px) {
  #menu-button-container {
    margin-right: 20px;
    left: 30%;
    float: left;
  }

  #whole-title {
    font-size: 50px;
  }

  #face-pic {
    max-width: 900px;
  }

  p {
    width: 900px;
  }

  p.compact {
    width: 800px;
  }

  table {
    width: 900px;
  }

  /* 
  th {
    font-size: 1.1em;
  } */

  /* td {
    font-size: 0.9em;
    padding: 5px;
    line-height: 120%;
    width: 100%;
  } */

  .ac-img {
    width: 900px;
  }

  .ac-img-compact-box {
    width: 650px;
  }

  .ac-img-compact-inline-box {
    width: 650px;
  }

  .ac-img-flex-box {
    width: 850px;
  }

  ul {
    width: 900px;
  }

  ol {
    width: 900px;
  }

  .quadrant-map {
    width: 850px;
  }

  .cal-wrapper {
    width: 900px;
  }

  #menu-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: visible;
    border-radius: 5px;
    filter: drop-shadow(7px 7px 0px #000000);
    z-index: 99;
  }

  #menu {
    transform: translate(-50%, -50%);
    width: 800px;
    /* overflow-y: hidden; */
    /* overflow-y: scroll; */
    z-index: 100;
    height: 0px;
    transition: 0.4s;
  }
}